/* ////////////////////////////////////
	TOP DAWG STYLING
//////////////////////////////////// */

body {
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	color: #869690;
	background-color: #ffffff;
}

*:hover {
	text-decoration: none !important;
}

/* ////////////////////////////////////
	NAVBAR STYLING
//////////////////////////////////// */

.navbar .nav > li > a {
float: none;
padding: 9px 15px 9px;
color: #869690;
text-decoration: none;
}

#top-nav{
	border-bottom: 1px solid #e1e6dd;
	background: #FFF;
	-webkit-transform: translateZ(0)

}
#top-nav.navbar{
	margin-bottom: 0px;

}
#top-nav.navbar .nav{
	margin: 8px 0px;
}
	
#top-nav.navbar .nav > li > a {
	padding: 30px 12px;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: -17px;

	-webkit-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
#top-nav.navbar .nav > li > a.download{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#top-nav.navbar .nav > li > a.download-on{
	background-color: #ff8a3c;
	color: #ffffff;
}
#top-nav.navbar .nav > li > a.download-on:hover{
	color: #ffffff;
	background-color: #ff7920;
}
.btn-navbar span.icon-bar{
	margin-top: 0px;
}









/* ////////////////////////////////////
	HEADER STYLING
//////////////////////////////////// */

.logo {
	float: left;
	margin-top: -15px;
}
#smallheader{
	padding: 50px 0 50px;
	color: #fff;
	background-image:url('http://syclonestudios.com/assets/img/background.png');
}
#smallheader h1{
	margin-bottom: 10px;
	margin-top: 120px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 50px;
}
#smallheader h1:before{
	content: "Home  //  "
}
#smallheader .btn-success {
	padding: 15px 30px;
	margin-bottom: 5px;
}
#smallheader .logo{
	display: block;
	margin-top: 80px;
	width: 316px;
	height: 321px;
	margin-bottom: -101px;
}

#header{
	padding: 100px 0 100px;
	color: #fff;
	background-image:url('http://syclonestudios.com/assets/img/background.png');
}
#header h1{
	margin-bottom: 10px;
	margin-top: 120px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 50px;
}
#header h3{
	margin-bottom: 30px;
	width: 400px;
	color: #fff;
}
#header h4 {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Lato, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	height: 66px;
	line-height: 34px;
	margin-top: 16px;
}
#header p {
	color: #FFF;
	margin: 0.5rem 0;
	font-weight: 300;
	margin-top: 6px;
}

#header .btn-success {
	padding: 15px 30px;
	margin-bottom: 5px;
}
#header .logo{
	display: block;
	margin-top: 80px;
	width: 316px;
	height: 321px;
	margin-bottom: -101px;
}


/* ////////////////////////////////////
	BUTTON OF SEX
//////////////////////////////////// */

.button-of-sex {
	display: inline-block;
	padding: 14px 30px;
	margin-right: 0.75rem;
	font-size: 19px;
	font-weight: 400;
	background: #FFF;
	color: #1ccacd;
	border: 1px solid #FFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 14px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.button-of-sex.outline {
	background: transparent;
	color: #FFF;
}

.button-of-sex:hover {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	color: #6203a5
}






/* ////////////////////////////////////
	SECOND SECTION STYLING
//////////////////////////////////// */

h3#second, h3#third {
text-align: center;
color: #808080;
margin: 2rem;
}

#dark {
text-align: center;
color: #808080;
margin: 2rem;
background-color: #6303a5;
background-repeat: repeat-x;
background-position: center center;
margin: 0px !important;
}

#second, #third {
	padding: 1em 0;
}

.app{
	text-align: center;
}

.app h3 {
	margin: 3px;
}

.app p {
	font-size: 17px;
}


.purplea {
	border-style:solid;
	border-width:50px 10px 10px 10px;
	border-color: #6216A3;
}

.purpleb {
	margin-left, margin-right: -3px;
	margin-top: 10px;
}

.leftcon{
  padding-right: 7.5px;

}

.rightcon{
	padding-left: 7.5px;
}

.purplea > h1 {
	position: absolute;
	margin-top: -43px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
}

.video > h1 {
	position: absolute;
	margin-top: -63px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
}

.video {
	border-style:solid;
	border-width:50px 10px 10px 10px;
	border-color: #6216A3;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.video > div > p {
	padding: 5px;
	padding-right: 13px;
	text-align: right;
}

.maintitle > h2 {
	font-size: 20px !important;
	color: #6216A3;
	text-align: left;
	font-weight: bold;
}
.maintitle > h3 {
	color: #929292;
	font-size: 12px !important;
	text-align: left;
	margin-top: -8px;
	margin-left: -1px;
	font-weight: 300;
	font-style: italic;
}

.twitter {
	margin-top: 40px;
	margin-bottom: 40px;
}

.twitter > div > p {
	color: #fff;
	font-size: 27px;
	padding-top: 10px;
}

.twitter > div > h5 {
	color: rgba(255, 255, 255, 0.81);
	font-size: 20px;
	margin-top: -23px;
	text-align: right;
	padding-right: 26px;
}


.arrowside {
	float: right;
	right: 0;
	margin-right: 24px;
}
/* ////////////////////////////////////
	EVERYTHING ELSE
//////////////////////////////////// */


img.arrow-down{
	margin: 0 auto;
	display: block;
}
h1{
	margin-top: 80px;
}

pre.pre-show{
	margin: 40px 0px;

}
.tab-content pre.pre-show{
	margin: 0px 0px 0px 0px;
}
.nav-tabs{
	margin-top: 20px;
	margin-bottom: 0px;
	
}
.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	
}
/* Content */
.table th, .table td {
	padding: 8px 12px;
}

/* Footer */

#footer{
	padding: 20px 0px;
	background: #f3f3f3;
	text-align: center
}
.twitter-share-button{
	top: 4px;
	position: relative;
}

/* second Slides */

#owl-example .item{
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{
	font-size: 28px;
	font-weight: 300;
	margin: 25px 0 0;
}
#owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
.item h1{
	margin: inherit;
}

.orange{
	background: #ff8a3c;
}
.darkCyan{
	background: #42bdc2;
}
.forestGreen{
	background: #7fc242;
}
.yellow {
	background: #ffd800;
}
.dodgerBlue {
	background: #388bd1;
}
.skyBlue {
	background: #a1def8;
}
.zombieGreen {
	background: #3fbf79;
}
.violet {
	background: #db6ac5;
}
.yellowLight {
	background: #fee664;
}
.steelGray {
	background: #cad3d0;
}

/* More second Box */

#example-info h1,
#more h1{
	margin-top: 40px;
}
.seconds-row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.second-page{
	margin-top: 0px;
	margin-bottom: 100px;
}
.second-box{
	display: block;
	background: #f3f3f3;
	text-align: center;
	font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.second-box h3{
	padding-bottom:20px;
	margin: 0px;
	color: #869690;
}
.second-box:hover{
	text-decoration: none;
}
.second-wrapper{
	padding: 30px 0px 20px 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.second-slide {
	float: left;
}
.second-slide .bg{
	background: #aebab6;
	margin-right: 1px;
	height: 100%;
}
.second-box:hover .second-slide .bg{
	background: #7fc242;
}
/* Images */
.second-images .second-slide{
	height: 40px;
	width: 33.3333333%;
}

/* Full */
.second-full {
	padding-left: 0px;
	padding-right: 0px;
}
.second-full .second-slide{
	height: 40px;
	width: 25%;
}

/* Custom */
.second-custom .second-slide{
	height: 40px;
	width: 10%;
}
/* One */
.second-one .second-slide{
	height: 40px;
	width: 100%;
}

/* json */

.second-Json .second-slide {
	height: 40px;
	width: 20%;
}
.second-Json-custom .second-slide{
	height: 40px;
	width: 33.3333333%;
}
/* loading icon */

.second-lazy .second-slide{
	height: 40px;
	width: 33.3333333%;
}
.second-lazy .second-slide .bg{
background: url('../img/AjaxLoader.gif') no-repeat center center #aebab6;
}

/* Auto Height */
.second-height .second-slide{
	height: 40px;
	width: 100%;
}

/* Changelog  */
#changelog{
	margin-bottom: 40px;
}
#changelog .label{
	margin-bottom:10px;
}
#changelog .log{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e6dd;
}
/* Faq */
#faq dt {
	line-height: 26px;
}
#faq dd{
	line-height: 22px;
	margin-bottom: 20px;
}



/* Responsive Stuff */


@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	}
}
@media (max-width: 768px) {
	.navbar.navbar-fixed-top{
		position: static;
	}
	.btn.btn-navbar{
		margin: 9px 20px 9px 8px;
		padding: 10px 10px;
	}
	.nav-collapse .nav > li{
		border-top: 1px solid #e1e6dd;
		text-align: center
	}
	#header .logo{
		margin-top:40px;
		margin: 20px auto 0px;
		float: none;
		height: 150px;
	}
	#header {
		text-align: center;
		padding: 60px 0px 30px;
	}
	#header h1{
		margin: 10px 0;
	}
	#header h3{
	margin-bottom: 10px;
	width: auto;
	padding: 0px 20px;
	}
	h1 {
		font-size: 38px;
		margin: 20px 0;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 13px;
	}
	h6 {
		font-size: 12px;
	}

}


@media (max-width: 480px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	}
	#header {
		text-align: center;
		padding: 20px 0px 20px;
	}
	#header .logo{
		margin-top:0px;
	}

}

/*
NO MORE TABLES!! ;)
*/
@media (max-width: 767px) {

	.hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
		display: block; 
	}
	.hp-table thead tr { 
		display: none;
	}
	.hp-table tr { border: 0px solid #ccc; margin-bottom: 10px; }
	
	.hp-table td:before { 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.hp-table td:nth-of-type(2):before { 
		content: "Default:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(3):before { 
		content: "Type:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(4):before { 
		content: "Description:";
		font-weight: bold;
	}
}









