/* ////////////////////////////////////
	TOP DAWG STYLING
//////////////////////////////////// */

@font-face {
	font-family: "Tw-Cen-MT-Regular";
	src: url("../fonts/6533909300.ttf") format("truetype");
}
@font-face {
	font-family: "Tw-Cent-MT-Bold";
	font-weight: bold;
	src: url("../fonts/Tw-Cen-MT-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Helvetica-Light";
	font-weight: bold;
	src: url("../fonts/Helvetica-Lt.otf") format("opentype");
}
@font-face {
	font-family: "Helvetica-Bold";
	font-weight: bold;
	src: url("../fonts/Helvetica-Bd.otf") format("opentype");
}

body {
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	color: #869690;
	background-color: #ffffff;
}

*:hover {
	text-decoration: none !important;
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}


a {
	color: #6216A3;
}

a:hover {
	color: #460076;
	text-decoration: none;
}
/* ////////////////////////////////////
	NAVBAR STYLING
//////////////////////////////////// */
.navbar-top {
	background-color: #6303a5 !important;
	height: 30px !important;
	margin-top: -15px;
}

.navbar-top-ul > li > a {
	float: none;
	padding: 9px 15px 9px;
	color: #FFFFFF !important;
	text-decoration: none;
}

.navbar-top-ul > li {
	margin-left: 1px;
}

.navbar-top-ul > li > a > button {
	height: 5px;
	margin-top: -14px !important;
	font-size: 10px;
	padding-top: 5px !important;
	border-radius: 1px !important;
	padding-bottom: 17px !important;
	color: #4b0080;
	text-transform: uppercase;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-top-ul > li > a > button {
	margin: -10px;
}

.navbar-top-ul > li > a > button:hover {
	background-color: white;
	color: #6303a5;
}

.collapse-top.navbar-collapse {
	margin-top: -20px;
}

.navbar-main {
	margin-top: 35px;
}

.navbar .nav > li > a {
float: none;
padding: 9px 15px 9px;
color: #6303a5;
text-decoration: none;
}

.navbar .nav > li > a:hover {
color: #B8B8B8;
}

#top-nav{
	border-bottom: 1px solid #e1e6dd;
	background: #FFF;
	-webkit-transform: translateZ(0)

}
#top-nav.navbar{
	margin-bottom: 0px;

}
#top-nav.navbar .nav{
	margin: 8px 0px;
}
	
#top-nav.navbar .nav > li > a {
	padding: 30px 12px;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: -17px;

	-webkit-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
#top-nav.navbar .nav > li > a.download{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#top-nav.navbar .nav > li > a.download-on{
	background-color: #ff8a3c;
	color: #ffffff;
}
#top-nav.navbar .nav > li > a.download-on:hover{
	color: #ffffff;
	background-color: #ff7920;
}
.btn-navbar span.icon-bar{
	margin-top: 0px;
}









/* ////////////////////////////////////
	HEADER STYLING
//////////////////////////////////// */

.logo {
	float: left;
	margin-top: -15px;
}

.main-welcome-content {
	text-align: center;
}
#smallheader{
	padding: 50px 0 50px;
	color: #fff;
	background-image:url('../img/background.png');
}
#smallheader h1{
	margin-bottom: 10px;
	margin-top: 145px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	font-size: 50px;
}
#smallheader h1:before{
	content: ""
}
#smallheader .btn-success {
	padding: 15px 30px;
	margin-bottom: 5px;
}
#smallheader .logo{
	display: block;
	margin-top: 80px;
	width: 316px;
	height: 321px;
	margin-bottom: -101px;
}

#header {
	padding: 50px 0 50px;
	color: #fff;
	background-image: url('../img/bg-slider.png');
	background-size: cover;
	background-position: top;
}
#header h1 {
	margin-bottom: -5px;
	margin-top: 150px;
	font-family: "Tw-Cent-MT-Bold";
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 41px;
}
#header h3{
	margin-bottom: 30px;
	width: 400px;
	color: #fff;
}
#header h4 {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Lato, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	height: 66px;
	line-height: 34px;
	margin-top: 16px;
}
#header p {
	color: #FFF;
	margin: 0.5rem 0;
	margin-top: 6px;
	line-height: 31px;
	font-size: 30px;
	font-family: "Tw-Cen-MT-Regular";
}

#header .btn-success {
	padding: 15px 30px;
	margin-bottom: 5px;
}
#header .logo{
	display: block;
	margin-top: 80px;
	width: 316px;
	height: 321px;
	margin-bottom: -101px;
}


/* ////////////////////////////////////
	BUTTON OF SEX
//////////////////////////////////// */

.button-of-sex {
	display: inline-block;
	padding: 14px 30px;
	margin-right: 0.75rem;
	font-size: 19px;
	font-weight: bold;
	background: #FFF;
	color: #1ccacd;
	border: 3px solid #FFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 0px !important;
	margin-top: 14px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	text-transform: uppercase;
	padding-left: 40px;
	padding-right: 40px;
}

.button-of-sex.outline {
	background: transparent;
	color: #FFF;
}

.button-of-sex:hover {
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	color: #6203a5;
	padding-left: 40px;
	padding-right: 40px;
}






/* ////////////////////////////////////
	SECOND SECTION STYLING
//////////////////////////////////// */

h3#second, h3#third {
text-align: center;
color: #808080;
margin: 2rem;
}

#dark {
text-align: center;
color: #808080;
margin: 2rem;
background-color: #6303a5;
background-repeat: repeat-x;
background-position: center center;
margin: 0px !important;
}

#second, #third {
	padding: 1em 0;
}

.app{
	text-align: center;
}
/*
.app-left {
	margin-left: -69px;
}

.app-center {
	margin-left: 34px;
}

.app-right {
	margin-left: 34px;
}
*/
.app h2 {
	margin: 3px;
	color: #6303a5;
	font-weight: bold;
	padding-top: 15px;
}

.app p {
	margin: 0 0 10px;
	line-height: 16px;
	font-size: 12px;
}

.app > h4 {
	text-align: center;
	color: #6303a5;
	font-weight: bold;
	margin-top: -5px;
}

.app > h4.top {
	padding-bottom: 30px;
	margin-top: 10px;
	color: #A5A5A5;
	font-family: "Helvetica-Light";
}


.purplea {
	border-style:solid;
	border-width: 30px 5px 5px 5px;
	border-color: #6216A3;
	padding-bottom: 11px;
	padding-left: 20px;
}

.purpleb {
	margin-left, margin-right: -3px;
	margin-top: 10px;
}

.rowsize > div > img {
	margin-left: -10px;
}

.rowsize > .col-md-9 {
	margin-left: -11px !important;
}

.leftcon{
  padding-right: 12px;

}

.rightcon{
	padding-left: 12px;
}

.rowsize {
	width: 98%;
	padding: 15px;
	margin-left: 1px !important;
	padding-bottom: 2px;
}

.rowsize > div > h1 {
	margin-top: 1px;
	font-size: 16px;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 17px;
	color: #6303a5;
	font-weight: bolder;
}

.rowsize > div > h3 {
	color: #929292;
	font-size: 12px !important;
	text-align: left;
	margin-top: -14px;
	margin-left: 17px;
	font-weight: 300;
	font-style: italic;
}

.rowsize > div > p {
	margin-top: 5px;
	text-align: left;
	padding-left: 15px;
	color: #341C49;
}

.rowsize > .col-md-8 {
	padding-left: 15px;
}

.socialrow {
	width: 100.5%;
	padding: 15px;
	margin-left: 1px !important;
	padding-bottom: 2px;
}

.socialrow > div > h1 > a {
color: #fff !important;
font-family: "Helvetica-Light";
}

.socialrow > div > h3 {
	color: rgba(175, 175, 175, 1);
}

.socialrow > div > p {
	color: #fff !important;
}

.socialrow > .col-md-8 {
	padding-left: 15px;
}

.purplea > h1 {
	position: absolute;
	margin-top: -24px;
	color: #fff;
	text-transform: uppercase;
	margin-left: -4px;
	font-weight: 300;
	font-size: 15px;
}





.video > h1 {
	position: absolute;
	margin-top: -51px;
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
	font-weight: 300;
	font-size: 20px;
}

.video {
	border-style:solid;
	border-width: 30px 10px 10px 10px;
	border-color: #6216A3;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.video > div > p {
	padding: 5px;
	padding-right: 13px;
	text-align: right;
}

.maintitle > h2 {
	font-size: 20px !important;
	color: #6216A3;
	text-align: left;
	font-weight: bold;
}
.maintitle > h3 {
	color: #929292;
	font-size: 12px !important;
	text-align: left;
	margin-top: -8px;
	margin-left: -1px;
	font-weight: 300;
	font-style: italic;
}

.twitter-button {
	padding-top: 8px !important;
	padding-bottom: 8px;
	font-weight: 100;
	text-transform: capitalize;
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-align: right;
	border-width: 1px !important;
	float: right;
}

.socialrow > div > h1.top {
	text-align: left;
	color: white;
	font-weight: 100;
	text-transform: uppercase;
}

.twitter {
	margin-top: 20px;
	margin-bottom: 40px;
}

.twitter > div > p {
	color: #fff;
	font-size: 27px;
	padding-top: 10px;
}

.twitter > div > h5 {
	color: rgba(255, 255, 255, 0.81);
	font-size: 20px;
	margin-top: -23px;
	text-align: right;
	padding-right: 26px;
}


.arrowside {
	float: right;
	right: 0;
	margin-right: 24px;
}
/* ////////////////////////////////////
	FOOTER STUFF
//////////////////////////////////// */

#footer{
	background: #f3f3f3;
	text-align: center;
	font-family: Lato;
	padding-bottom: 5px;
	padding-top: 20px;
}

.footer-left > h5 > a > i {
	font-family: "Helvetica-Bold", FontAwesome;
	margin-right: 10px;
	color: #6303a5;
	font-size: 15px;
}

.footer-left > h3 {
	margin-bottom: 5px;
	border: 0;
	padding-bottom: 7px;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold
}
.footer-left > h5 {
	margin-top: -4px;
}

.footer-left{
	text-align: left;
}

.footer-right{
	text-align: right;
}

.footer-right > h5 > a {
	font-family: "Helvetica-Bold";
	margin-left: 20px;
	font-size: 15px;
	color: #869690;
}

.footer-right > h3 > a > i, .footer-right > h3 > a  {
	margin-bottom: 5px;
	border: 0;
	padding-bottom: 7px;
	margin-left: 5px;
	color: #6303a5;
	font-size: 15px;
	font-family: "Helvetica-Bold", FontAwesome;
}
.footer-right > h3 {
	text-align: right;
	margin-top: -10px;
}

/* ////////////////////////////////////
	PORTFOLIO
//////////////////////////////////// */
.portfolio {
	padding: 10px;
	color: white;
}

.portfolio-bg {
	background: /* top, transparent rgb(196, 196, 196), faked with gradient */ linear-gradient( rgba(228, 228, 228, 0.35), rgba(82, 82, 82, 0.35) ), /* bottom, image */ url(http://puu.sh/b2AxW/5e7a238e6a.jpg);
	padding: 40px;
	border-style: solid;
	border-width: 30px 5px 5px 5px;
	border-color: #6216A3;
}
.portfolio-bg:hover {
	background-color: #6303a5;
	padding: 40px;
    z-index: -1;
    top: 0;
    left: 0;
    background: /* top, transparent rgb(196, 196, 196), faked with gradient */ linear-gradient( rgba(228, 228, 228, 0.35), rgba(82, 82, 82, 0.35) ), /* bottom, image */ url(http://puu.sh/b2AxW/5e7a238e6a.jpg);
}

.portfolio > div > p {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.portfolio > div > h1 {
	text-align: center;
	text-transform: uppercase;
}

.portfolio > div > button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid #FFF;
	border-radius: 2px !important;
}


.portfolio > div > .button-of-sex:hover {
	border: 2px solid #FFFFFF !important;
}

div[id='Chroma Hills'] {
	  background: url(http://puu.sh/b2AxW/5e7a238e6a.jpg);
}

div[id='Sanity'] {
	  background: url(http://puu.sh/b2CTL/823cb97ad1.jpg);
}
/* ////////////////////////////////////
	EVERYTHING ELSE
//////////////////////////////////// */

/* For the "inset" look only */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(98, 22, 163, 0.50); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 22, 163, 0.70); 
    -webkit-box-shadow: inset 0 0 6px rgba(98, 22, 163, 0.70); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(98, 22, 163, 0.34); 
}